body {
   display: flex;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 noscript
 {
   color:red;
 }

 img
 {
   border-radius: 16px;
   height:auto;
   width:100%;
   max-width:300px;
 }

 #pageOne
 {
   min-height: 100vh;
 }

 #mainContainer
 {
   min-height: 100vh;
   padding-top:30vh;
   text-align:center;
   padding-left:20px;
   padding-right:20px;
 }

 #nameTitle
 {
   display:none;
 }

 #alwaysTitle
 {
   display:none;
 }

 #thanksTitle
 {
   display:none;
 }

 #buttonDiv
 {
   display:none;
   margin-left:auto;
   margin-right:auto;
 }

 #buttonDiv a
 {
   color:inherit;
   text-decoration: none;
 }

@media (min-width: 520px)
{
   #tButton
   {
     color:#26a69a;
     opacity:0;
     font-size:4em;
   }

   #gButton
   {
     color:#26a69a;
     opacity:0;
     font-size:4em;
   }

   #lButton
   {
     color:#26a69a;
     opacity:0;
     font-size:4em;
   }

   #rButton
   {
     color:#26a69a;
     opacity:0;
     font-size:4em;
   }
 }
 @media (min-width:420px) and (max-width:520px)
 {
   #tButton
   {
     color:#26a69a;
     opacity:0;
     font-size:3em;
   }

   #gButton
   {
     color:#26a69a;
     opacity:0;
     font-size:3em;
   }

   #lButton
   {
     color:#26a69a;
     opacity:0;
     font-size:3em;
   }

   #rButton
   {
     color:#26a69a;
     opacity:0;
     font-size:3em;
   }
 }
 @media (max-width:419px)
 {
   #tButton
   {
     color:#26a69a;
     opacity:0;
     font-size:2.4em;
   }

   #gButton
   {
     color:#26a69a;
     opacity:0;
     font-size:2.4em;
   }

   #lButton
   {
     color:#26a69a;
     opacity:0;
     font-size:2.4em;
   }

   #rButton
   {
     color:#26a69a;
     opacity:0;
     font-size:2.4em;
   }
 }

 #tButton:hover
 {
   color:#80cbc4;
 }

 #gButton:hover
 {
   color:#80cbc4
 }

 #lButton:hover
 {
   color:#80cbc4
 }

 #rButton:hover
 {
   color:#80cbc4;
 }

 #emailP
 {
   display:none;
 }

 #emailP a
 {
   color:#26a69a;
 }

 #emailP a:hover
 {
   color:#80cbc4
 }

 #pageTwo
 {
   min-height:100vh;
 }

 #mainContainer2
 {
   padding-left:20px;
   padding-right:20px;
   display:none;
 }

 #imgDiv
 {
   text-align: center;
 }

 #bioCard
 {
   border-radius:16px;
   margin-left:auto;
   margin-right:auto;
   max-width:800px;
 }

 #bioCardTitle
 {
   color:white;
   font-size:24px;
 }

 #copyright
 {
   text-align:center;
 }
