/*Icomoon Icons from FontAwesome*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2ks902');
  src:  url('fonts/icomoon.eot?2ks902#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2ks902') format('truetype'),
    url('fonts/icomoon.woff?2ks902') format('woff'),
    url('fonts/icomoon.svg?2ks902#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\f005";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}


body {
	background-color: #d9e8f7;
	height: 100%;
	font-size: 1.3vw;
}

h1 {
	font-size: 3vw;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	font-size: 2.5vw;
	padding-left: 10px;
	padding-right: 10px;
}

.headerGroup-appear {
  opacity: 0.01;
}

.headerGroup-appear.headerGroup-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.App {
	margin-top: 10vh;
	text-align: center;
}

.unselectedButton {
	font-weight: normal;
	margin-left: .5vw;
	margin-right: .5vw;
	margin-bottom: 1.5vh;
	cursor: pointer;
}

.selectedButton {
	font-weight: bold;
	margin-left: .5vw;
	margin-right: .5vw;
	margin-bottom: 1.5vh;
	cursor: pointer;
}

.linkIcon {
	padding-left: .5vw;
}

.repoIcon {
	padding-right: 5px;
}

.socialMediaDiv {
	padding-left:1vw;
	padding-right: 1vw;
	text-align: center;
	word-wrap: break-word;
}

.socialMediaButton {
	font-size: 10vw;
	padding-left: 2vw;
	padding-right: 2vw;
	text-decoration: none;
}

.socialMediaButton:hover, .socialMediaButton:active, .socialMediaButton:link, .socialMediaButton:visited {
	text-decoration: none;
}

.buttonGroup-appear {
	transform: translate(100%);
}

.buttonGroup-appear.buttonGroup-appear-active {

	transform: translate(0%);
	transition: transform 1000ms ease-in;
}

.portraitImage {
	display: block;
	margin-top:1vh;
	margin-bottom:1vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
}

.navigator {
	margin-top: 3vh;
}

.navigatorGroup-appear {
	transform: scale(.1, .1);
}

.navigatorGroup-appear.navigatorGroup-appear-active {

	transform: scale(1, 1);
	transition: transform 500ms ease-in;
}

.navigatorPage {
	max-width: 60%;
	min-height: 600px;
	margin-top: 2vh;
	margin-bottom: 30vh;
	margin-left: auto;
	margin-right:auto;
	text-align: left;
	padding-left: 1vw;
	padding-right: 1vw;
}

thead {
	font-weight: bold;
}

.errorEntry {
	color: red;
}

footer {
	width: 100%;
	background: #d5d5d5;
}

.footer-container {
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align:center;
}

@media (max-width: 1200px) {

	body {
		font-size: 14px;	
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	.portraitImage {
		width: 175px;
		height: 175px;
	}

	.socialMediaButton {
		font-size: 120px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 1200px) {
	
	.unselectedButton, .selectedButton {
		font-size: 1.2vw;
		width:10vw;
		height: 2.5vw;
	}

}

@media (max-width: 900px) {

	.navigatorPage {
		max-width: 90%;
	}

}

@media (max-width: 500px) {

	.repoStats {
		display: none;
	}

}
